<!DOCTYPE html>
<html>
  <head>
    <title>게임접속</title>
    <link rel="stylesheet" href="/stylesheets/channel.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascript/channel.js"></script>
  </head>

  <body>
    <div class="navBar">
      <div class="box-navbar">
        <p id="visitors"></p>
      </div>
    </div>
    <div class="container">
      <section class="box">
        <div class="box-sidebar">
          <ol>
            <li>
              <button class="1">이용안내</button>
            </li>
            <li>
              <button class="2">공지사항</button>
            </li>
            <li>
              <button class="gameRoom">게임방 목록</button>
            </li>
            <li>
              <button class="groupChat" onclick="groupChatButtons()">
                단체 채팅
              </button>
            </li>
          </ol>
        </div>
        <div id="content" class="box-contents">hi</div>
      </section>
    </div>
    <div class="bottomBar">
      <p>바텀</p>
    </div>
    <script src="javascript/groupChat.js" async></script>
  </body>
</html>
