<!DOCTYPE html>
<html>
  <head>
    <title>게임접속</title>
    <link rel="stylesheet" href="/stylesheets/channel.css" />
    <link rel="stylesheet" href="/stylesheets/paint.css" />
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div class="navBar">
      <div id="room-number" class="box-navbar">
        <div>
          <p style="font-weight: bold">실시간 카운트다운</p>
          <div class="time">
            <p>경과 시간: <span id="elapsed-time">0</span>초</p>
            <p>남은 시간: <span id="remaining-time">60</span>초</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <section class="box">
        <div class="box-contents">
          <div class="flexbox">
            <div style="padding: 10px">
              <canvas id="jsCanvas" class="canvas"></canvas>
              <div class="buttondiv">
                <button id="start-button">게임 시작</button>
                <button id="clear-button">그림 지우기</button>
              </div>
            </div>

            <div class="chat-input">
              <div class="chat-top">
                <div class="chat-username"></div>
                <div class="chat-members"></div>
              </div>
              <ul class="chat"></ul>
              <form>
                <input type="text" placeholder="메시지를 입력하세요" />
                <button type="submit">전송</button>
              </form>
            </div>
            <div style="padding-left: 10px">
              <div class="userlist">
                <div>
                  <h2>접속한 사용자</h2>
                  <ul class="user-list"></ul>
                </div>
                <div class="ranklist">
                  <h2>랭킹</h2>
                  <ul class="rank"></ul>
                </div>
              </div>
              <table>
                <tr>
                  <td>현재 플레이어(페인터)</td>
                </tr>
                <tr>
                  <td id="painter-name">게임 중이 아닙니다.</td>
                </tr>
              </table>
            </div>
            <div class="suggestion">
              <table class="suggestion">
                <tr>
                  <td>제 시 어</td>
                </tr>
                <tr>
                  <td id="suggested-word">-</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <script src="/javascript/paint.js"></script>
      <script src="/javascript/game.js"></script>
      <script src="/javascript/chat.js"></script>
      <script src="/javascript/timer.js"></script>
    </div>
  </body>
</html>
