.wrapper
  .user-container
    p#name #{username}
    p 님 즐거운 대화 되세요~~!
  .display-container
    ul.chatting-list
  .input-container
    span
      input.chatting-input(type='text')
      button.send-button 전송
link(rel='stylesheet', href='/stylesheets/groupChat.css')
