doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
      p Welcome to #{title}
      if isLoggedIn
        p Hello, #{username}!
        a(href="/logout") 로그아웃
        a(href="/channel")
          p 채널 접속하기
      else
        a(href="/login") 로그인
        a(href="/channel")
          p 채널 접속하기
