html
  head
    title Google Login Page
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/google.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap")
    
    body
      div.container
        img.logo(src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg")
        a(href="/login/google")
         button(type="button") Google 로그인
